<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div>(*)為必填欄位</div>
      <div class="row row-cols-sm-3 mt-3">
        <form action="/restaurants" method="POST">
          <label for="name">Name(*)</label>
          <input type="text" id="name" placeholder="name" name="name" required><br>
          <label for="name_en">Name in English</label>
          <input type="text" id="name_en" placeholder="name_en" name="name_en"><br>
          <label for="category">Category(*)</label>
          <select id="category" name="category" required>
            <option value="" selected disabled hidden>Choose here</option>
            <option value="中東料理">中東料理</option>
            <option value="日本料理">日本料理</option>
            <option value="義式餐廳">義式餐廳</option>
            <option value="美式">美式</option>
            <option value="酒吧">酒吧</option>
            <option value="咖啡">咖啡</option>
          </select><br>
          <label for="image">Image(*)</label>
          <input type="url" id="image" placeholder="Image URL" name="image" required><br>
          <label for=" location">Location(*)</label>
          <input type="text" id="location" placeholder="Location" name="location" required><br>
          <label for=" phone">Phone(*)</label>
          <input type="tel" id="phone" placeholder="Ex: 0900-000-000" name="phone" required><br>
          <label for="google_map">Google Map(*)</label>
          <input type="url" id="google_map" placeholder="Google Map URL" name="google_map" required><br>
          <label for="rating">Rating(*)</label>
          <input type="number" id="rating" placeholder="請輸入0~5之間的數值" name="rating" min="0" max="5" step="0.1"
            required><br>
          <label for="decription">Description(*)</label>
          <textarea id="description" name="description" rows="4" cols="50" required></textarea>
          <button type="submit">Create</button>
        </form>
      </div>
    </div>
  </div>
</div>