<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="row row-cols-sm-3">

        <form action="/restaurants" method="POST">
          <label for="id">ID</label>
          <input type="text" id="id" placeholder="id" name="id"><br>
          <label for="name">Name</label>
          <input type="text" id="name" placeholder="name" name="name"><br>
          <label for="name_en">Name (En)</label>
          <input type="text" id="name_en" placeholder="name_en" name="name_en"><br>
          <label for="category">Category</label>
          <input type="text" id="category" placeholder="category" name="category"><br>
          <label for="image">Image</label>
          <input type="text" id="image" placeholder="image" name="image"><br>
          <label for="location">Location</label>
          <input type="text" id="location" placeholder="location" name="location"><br>
          <label for="phone">Name</label>
          <input type="text" id="phone" placeholder="phone" name="phone"><br>
          <label for="google_map">Name</label>
          <input type="text" id="google_map" placeholder="google_map" name="google_map"><br>
          <label for="rating">Rating</label>
          <input type="text" id="rating" placeholder="rating" name="rating"><br>
          <label for="decription">Description</label>
          <input type="text" id="description" placeholder="description" name="description"><br>
          <button type="submit">Create</button>
        </form>

      </div>
    </div>
  </div>
</div>